<div class="botones">
    <button class="btn btn-primary" type="button">✏︎</button>
    <button class="btn btn-danger" type="button">x</button>
</div>
<div class="container" id="main-container">
        <h5>Educación:</h5>
        <div *ngFor="let expEd of expEds">
         <div class="container">
            <div class="row">
                <div class="col-3">{{ expEd.rol }}</div>
                <div class="col-3">{{ expEd.descrip }}</div>
                <div class="col-3">{{ expEd.fecha_inic }} - {{expEd.fecha_fin}} </div>
                <div class="col-3">{{expEd.institucion}}<a href={{expEd.link}}><img width= 250px src={{expEd.img_url}}></a></div>
                <!-- la suma de los nros d col tiene q ser 12, luego va a otra fila -->
            </div>
         </div>
<!--        
<nav class="navbar">
<a class="navbar-brand" href="#">RS</a>
<ul>
  <li>
      <a href="#">blog</a>
  </li>
  <li><a href="active">meh</a></li>
</ul>
</nav> -->
        </div>
</div>

<!-- Edit Modal -->
<!--
<div class="modal fade" id="actualizarExp_EdModal" tabindex="-1" role="dialog" aria-labelledby="Exp_EdEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="actualizarExp_EdModalLabel">Editar Educación {{editexpEd?.rol}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="institucion">institucion</label>
                   <input type="text" ngModel="{{editexpEd?.institucion}}" name="institucion" class="form-control" id="institucion" aria-describedby="emailHelp" placeholder="Institucion">
                </div>
                <input type="hidden" ngModel="{{editexpEd?.id}}" name="id" class="form-control" id="id" placeholder="institucion">
                <div class="form-group">
                   <label for="descrip">Breve descripción de la experiencia</label>
                   <input type="text" ngModel="{{editexpEd?.descrip}}" name="descrip" class="form-control" id="descrip" placeholder="descrip">
                </div>
                <div class="form-group">
                   <label for="phone">Job title</label>
                   <input type="text" ngModel="{{editexpEd?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
                </div>
                <div class="form-group">
                   <label for="phone">Phone</label>
                   <input type="text" ngModel="{{editexpEd?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input type="text" ngModel="{{editexpEd?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
-->
  <!-- Delete Modal -->
  <!--
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteEmloyee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div> 
-->