
<div class="container" id="main-container">
        <h5>Educación:</h5>
        <a class="nav-link" (click)="onOpenModal(null,'add')">Agregar<span class="sr-only"></span></a>
        <div *ngFor="let expEd of expEds">
         
            <div class="row">
                <div class="col-3"><h5>{{ expEd.rol }}</h5></div>
                <div class="col-3"><p>{{ expEd.descrip }}</p></div>
                <div class="col-3">{{ expEd.fecha_inic }} - {{expEd.fecha_fin}} </div>
                <div class="col-3">{{expEd.institucion}}<a href={{expEd.link}}><img width= 250px src={{expEd.img_url}}></a></div>
                <!-- la suma de los nros d col tiene q ser 12, luego va a otra fila -->
            </div>
            <div class="float-right btn-group btn-group-sm">
               <a (click)="onOpenModal(expEd,'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit">Editar<i class="fa fa-pencil"></i></a>
               <a (click)="onOpenModal(expEd,'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete">X<i class="fa fa-times"></i></a>
            </div> 
         
        </div>
        


<!-- Add Modal -->
 <div class="modal fade" id="addExpEdModal" tabindex="-1" role="dialog" aria-labelledby="addExp_EdModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addExp_EdModalLabel">Agregar educación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddExpEd(addForm)">
               <div class="form-group">
                  <label for="institucion">Institucion</label>
                  <input type="text" ngModel="{{addexpEd.institucion}}" name="institucion" class="form-control" id="institucion" aria-describedby="emailHelp" placeholder="Institucion">
               </div>
               <input type="hidden" ngModel="{{addexpEd.id}}" name="id" class="form-control" id="id" placeholder="institucion">
               <div class="form-group">
                  <label for="descrip">Breve descripción de la experiencia</label>
                  <input type="text" ngModel="{{addexpEd.descrip}}" name="descrip" class="form-control" id="descrip" placeholder="descrip">
               </div>
               <div class="form-group">
                  <label for="phone">Nivel</label>
                  <input type="text" ngModel="{{addexpEd.rol}}" name="nivel" class="form-control" id="nivel" placeholder="nivel">
               </div>
               <div class="form-group">
                  <label for="phone">Link web</label>
                  <input type="text" ngModel="{{addexpEd.link}}" name="link" class="form-control" id="link" name="link" placeholder="link">
               </div>
               <div class="form-group">
                  <label for="phone">Imagen URL</label>
                  <input type="text" ngModel="{{addexpEd.img_url}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
               </div>
               <div class="modal-footer">
                  <button type="button" id="add-exped-form" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                  <button [disabled]="addForm.invalid" (click)="onAddExpEd(addForm.value)" type="submit" data-dismiss="modal" class="btn btn-primary">Guardar cambios</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>


<!-- Edit Modal -->

<div class="modal fade" id="actualizarExp_EdModal" tabindex="-1" role="dialog" aria-labelledby="actualizarExp_EdModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="actualizarExp_EdModalLabel">Editar Educación</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="institucion">Institucion</label>
                   <input type="text" ngModel="{{editexpEd.institucion}}" name="institucion" class="form-control" id="institucion" aria-describedby="emailHelp" placeholder="Institucion">
                </div>
                <input type="hidden" ngModel="{{editexpEd.id}}" name="id" class="form-control" id="id" placeholder="institucion">
                <div class="form-group">
                   <label for="descrip">Breve descripción de la experiencia</label>
                   <input type="text" ngModel="{{editexpEd.descrip}}" name="descrip" class="form-control" id="descrip" placeholder="descrip">
                </div>
                <div class="form-group">
                   <label for="phone">Nivel</label>
                   <input type="text" ngModel="{{editexpEd.rol}}" name="nivel" class="form-control" id="nivel" placeholder="nivel">
                </div>
                <div class="form-group">
                   <label for="phone">Link web</label>
                   <input type="text" ngModel="{{editexpEd.link}}" name="link" class="form-control" id="link" name="link" placeholder="link">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input type="text" ngModel="{{editexpEd.img_url}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                   <button type="button" id="edit-exped-form" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                   <button [disabled]="editForm.invalid" (click)="onEditExpEd(editForm.value)" type="submit" data-dismiss="modal" class="btn btn-primary">Guardar cambios</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>

<!-- Delete Modal -->

  <div class="modal fade" id="deleteExp_EdModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Borrar experiencia</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Estás seguro de querer borrar?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteExpEd(deleteExpEd.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
             </div>
          </div>
       </div>
    </div>
  </div>

</div>
