<div class="botones">
    <button class="btn btn-primary" type="button">✏︎</button>
    <button class="btn btn-danger" type="button">x</button>
</div> 
<div id="info-data">
    <div id="info-details">
        <p>Hola! Soy estudiante de programación web full stack jr., y también estudio Ingeniería Civil: allí me introduje a este mundo de la programación luego de transitar varias materias de informática. Sean bienvenidos a mi portfolio!</p>
    <div id="info-contact">
        <p>📌Rosario, Santa Fe (Argentina)<br><a href="#">Información de contacto</a></p>
    </div>
    </div>
