<h2>Iniciar Sesión</h2>
<form [formGroup]="form" (ngSubmit)="onEnviar($event)">

    <div class="mb-3">
        <label for="idE" class="form-label">Correo</label>
        <input type="email" formControlName="email" class="form-control" id="idE" aria-describedby ="idEH">
        <div *ngIf="Email?.errors && Email?.touched"> 
            <p *ngIf="Email?.hasError('required')" class="text-danger">Se requiere ingresar un correo.</p>
            <p *ngIf="Email?.hasError('email')" class="text-danger">El formato del email debe ser válido.</p>
        </div>
        <div id="idEH" class="form-text">Debe ser un correo válido.</div>
    </div>
    
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
        <div *ngIf="Password?.errors && Password?.touched"> 
            <p *ngIf="Password?.hasError('required')" class="text-danger">Introduzca una contraseña</p>
            <p *ngIf="Password?.errors?.['minLength']" class="text-danger">Contraseña muy corta</p>
        </div>
    </div>
    
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
    </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button>
    
    </form>