<div id="profile-background"> 
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAAAA1BMVEW//wD6XHmFAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABODcYhAAEl463hAAAAAElFTkSuQmCC">
    </div>
    <div id="info-img">
      <img class="profile-image" src="https://lh3.googleusercontent.com/a-/AFdZucoi3So4cKsxTGx84ZCfAbAyQv-hV53u0DSdBXgMAg=s288-p-rw-no"><img>
      <button class="btn btn-primary" type="button">✏︎</button>
      <h1>María Camila Rizzotto</h1>
    </div>